<h2>Wedding list</h2>
The very best present we can receive is your presence at our wedding.
<p/>
We recognize that, especially for those of you coming from far away, simply attending our wedding will already entail spending money on travel and hotel accommodations.
<p/>
Many of you are contributing your time and energy to this event, and for the gift of your participation we thank you.
<p/>
To make it easier for the more traditional gift givers among you, we have set up a registry with some gift ideas at Amazon.co.uk:<br/>
<a href="http://www.amazon.co.uk/gp/registry/wedding/4A7MHPYZKI20">http://www.amazon.co.uk/gp/registry/wedding/4A7MHPYZKI20</a>

