<h2>Places to stay</h2>

<h3><a href="http://www.royal-chace.com/">Royal Chace Hotel</a></h3>
We have been offered a 20% discounts for guests who are part of the wedding party. To take advantage of this please contact the hotel to book directly  rather then booking online:
<br/>
Tel: (0)208 884 8181/ (0)208 884 8200<br/>
<a href="mailto:reservations@royalchacehotel.co.uk">reservations@royalchacehotel.co.uk</a>
<p/>

<h3><a href="http://holtwhites.com">Holwhites Hotel</a></h3>
5 Minutes by car
<p/>
92 Chase Side,<br/>
Enfield.<br/>
EN2 0QN <br/>
Telephone:020 8363 0124 <br/>
E-mail: <a href="mailto:reservations@holtwhites.com">reservations@holtwhites.com</a>
<p/>

<h3><a href="http://www.comfortinn.com/hotel-enfield-united_kingdom-GB163">Comfort Inn Enfield</a></h3>
5 Minutes by Car<br/>
A discount of 20% for booking  in advance
</p>
52 Rowantree Road,<br/>
Enfield.<br/>
EN2 8PW<br/>
Telephone: 0208 366 3511

<p/>

<h3><a href="http://www.travelodge.co.uk/hotels/info?hotelId=339">Travelodge Cheshunt Hotel</a></h3>
15 Minutes by car, very reasonable rates.
<p/>
Park Plaza,<br/>
Cheshunt.<br/>
EN8 8DY<br/>
Tel: 0871 9846 349

<p/>
