<div class="food_menu">
<h2>Menu</h2>

<h3>Starter</h3>
Goat's cheese on toasted brioche<br/>with honey set on a red chard <br/>and baby spinach salad.

<h3>Main Course</h3>
Oven roasted saddle of lamb with a redcurrant<br/> and rosemary stuffing coated in Madeira jus.<br/>
Served with market fresh vegetables and potatoes.

<h3>Dessert</h3>
For dessert we are able to offer two choices:<br/> 

1. Sweetened Chantilly cream with raspberries and crushed meringue, topped with toasted almonds.<br/>

2. Profiteroles served with warm chocolate sauce.<br/>
<br/>

Please note the default is dessert number 1.


<h3>Coffee and mints</h3>

<p/>
&nbsp;
<p/>

<i>Any of these dishes may have meat or nuts in; please let us know if this will cause a problem</i>

</div>
