<h2>Order of proceedings</h2>

<table>
<tr>
<td class="proc_time">4pm</td>
<td class="proc_thing">Guests arrive</td>
</tr>
<tr>
<td class="proc_time">4.30pm</td>
<td class="proc_thing">Ceremony</td>
</tr>
<tr>
<td class="proc_time">5pm</td>
<td class="proc_thing">Champagne reception and photos</td>
</tr>
<tr>
<td class="proc_time">6.30pm</td>
<td class="proc_thing">Dinner and speeches</td>
</tr>
<td class="proc_time">8.30pm</td>
<td class="proc_thing">Ceilidh dance<br/>
<small>Please bring low heeled or flat shoes as dancing ceilidhs in heels is not for the faint hearted! </small></td>
</tr>
<tr>
<td class="proc_time">11.30pm</td>
<td class="proc_thing">Home time</td>
</tr>
</table>

