<h2>Venue</h2>

We are having our ceremony and reception at the <a href="http://www.royal-chace.com/">Royal Chace Hotel, 162 the Ridgeway,  EN2 8AR</a>
<p />
We will be taking photographs outside in their large gardens, weather permitting, and we have the use of an enclosed patio area. We also have a quiet room and will be looking to organise some games for the older and younger children to be set up in this room for later. 

<p />
 <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=enfield+chace+hotel,+en2+8ar&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=19.091198,42.011719&amp;vpsrc=0&amp;ie=UTF8&amp;hq=enfield+chace+hotel,+en2+8ar&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=enfield+chace+hotel,+en2+8ar&amp;aq=&amp;sll=53.800651,-4.064941&amp;sspn=19.091198,42.011719&amp;vpsrc=0&amp;ie=UTF8&amp;hq=enfield+chace+hotel,+en2+8ar&amp;hnear=&amp;radius=15000&amp;t=m&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<h3>Directions</h3>
<h4>Directions by road:</h4>
<span class="emphasis">From the M25 Motorway</span> - Leave the M25 at Junction 24 (signposted Potters Bar). At the roundabout, take the third exit onto The Ridgeway - A1005 (signposted Enfield). Continue forward for approx 3 miles. The Royal Chace Hotel is on your right hand side. 
<p />
<span class="emphasis">From Central London</span> - From Central London take the A10 to Junction 25 of the M25 Motorway. Join the M25 anti-clockwise and exit at Junction 24. At the roundabout, take the exit signposted The Ridgeway - A1005 towards Enfield, Continue forward for approx 3 miles. The Royal Chace Hotel is on your right hand side.

<h4>Arriving by public transport:</h4>
<span class="emphasis">Rail: </span>
Gordon Hill Station (1 mile) Enfield Chase Station (1.5 miles) 
<br />
The last train from Gordon Hill to Kings Cross is approximately 23.57
<br/>
<span class="emphasis">Underground: </span>
Oakwood / Piccadilly Line (2.5 miles) Cockfosters / Piccadilly Line (2.5 miles)

<br/><br/><br/><br/>
