<h1>Chris and Shonagh's Wedding</h1>

<%= render 'user_sessions/form' %>

<!--
<%= render 'user_sessions/forgot_password_form' %>
-->
<!--

<p>TODO</p>
<ul>
<li>Users</li>
<ul>
<li>initial authenticate with username and password from invite slip [DONE]</li>
<li>usernames are fixed [DONE]</li>
<li>passwords default to "wedding" [OK]</li>
<li>if password fields are blank, passwords revert to previous value</li>
<li>derive proper names from RSVPs to print nice pages [DONE]</li>
<li>has many RSVPs [DONE]</li>
<li>validate e-mail address on submit[DONE]</li>
<li>link images to edit screens [DONE]</li>
<li>make error handling consistent and not break css[DONE]</li>
<li>improved workflow for new users[DONE]</li>
</ul>
<li>RSVPs</li>
<ul>
<li>make RSVP screen pretty[DONE]</li>
<li>prompt for name if not known</li>
<li>coming yes/no [DONE]</li>
<li>first adult; second adult; first child; etc. [DONE]</li>
<li>child's meal, half portion, full portion for each child</li>
<li>other dietary reqs</li>
<li>access reqs</li>
<li>notes box [DONE]</li>
<li>RSVPs should say "RSVP" on them (not "Change these details")[DONE]</li>
<li>RSVPs for +1s should show /something/ for the name[DONE]</li>
<li>remove notes field for now[OK]</li>
<li>filling in other RSVP not clear</li>
</ul>
<li>Data</li>
<ul>
<li>script to scrub db</li>
<li>script to export full details captured by app</li>
<li>mail-merge-a-like for invite inserts</li>
</ul>
<li>Other</li>
<ul>
<li>count down clock on home page</li>
<li>get "forgotten password" and mailer working</li>
<li>sort out stylesheet in Chrome (hr is crappy)</li>
<li>sort out cursive font (so doesn't default to comic sans</li>
<li>make ceremony time more prominent</li>
<li>style submit buttons</li>
<li>sanitise "show" parameter</li>
</ul>
</ul>

-->
